.card_wrapper {
    background: #FFFFFFD6;
    border-radius: var(--sp-lg);
    padding: var(--sp-lg);
    box-shadow: 0px 6px 16px 0px #2D2D2D29;
    display: flex;
    flex-direction: column;
    gap: var(--sp-sm);

    .header {
        display: flex;
        gap: var(--sp-md);

        .icon {
            border-radius: 50%;
            background-color: var(--primary);
            padding: var(--sp-lg);
            width: 64px;
            height: 64px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .other_details {
        display: flex;
        gap: var(--sp-xl);
        flex-wrap: wrap;
    }

    .detail {
        display: flex;
        flex-direction: column;
        margin-top: var(--sp-xs);

        .label {
            color: var(--sheet-primary);
            font-size: calc(2px + var(--sp-lg));
            font-weight: 600;
        }

        .value {
            font-size: var(--sp-md);
            color: #5E78AE;
        }
    }
}