.help_start{
    flex: 1;
        display: flex;
        background: #fff;
        padding: var(--sp-xl) var(--sp-lg);
        border: var(--secondary-border);
        border-radius: calc(4* var(--radi-sm));
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        box-shadow: var(--box-shadow);
        .title{
            margin-top: var(--sp-lg);
        }
        .sub_text{
                font-size: var(--sp-md);
                    color: var(--secondary-color);
                    margin-top: var(--sp-xs);
        }
}